.pokemonCard {
  width: 250px;
  height: 150px;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.27); 
box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.27);

}

.pokemonCard p {
    margin: 0px;
}

.pokemonCard .body {
  height: 75%;
  display: flex;
  justify-content: center;
}

.pokemonCard .body img {
  width: 50%;
}

.cardFooter {
  display: flex;
  height: 15%;
}

.pokemonCard .cardFooter .pokemonNumber {
  margin-left: auto;

}
.cardFooter .pokemonNumber, .pokemonName {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.2em;

}

@media (max-width: 570px){
  .pokemonCard {
    width: 350px;
    height: 250px;
    margin: 2rem  auto;
  }
}
