.viewpokemoncontainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .4rem;
 
}

@media (max-width: 570px){
    .viewpokemoncontainer {
        display: block;
        

    }
}